{{!< default}}

{{#page}}
<main class="gh-main gh-outer test">
    <div class="gh-inner">
        <h1>{{title}}</h1>
        <section>
            {{content}}
        </section>
    </div>
</main>
{{/page}}